#+TITLE: Configuration
#+AUTHOR: VLEAD
#+DATE: <2017-04-06 Thu>
#+PROPERTY: results output
#+PROPERTY: exports code
#+SETUPFILE: ../org-templates/level-1.org
#+options: ^:nil
#+LATEX: Literal LaTeX code for export
#+TAGS: boilerplate(b)
#+EXCLUDE_TAGS: boilerplate

* Introduction
  This has all the configuration required to run the
  =vlabs-landing-pages=
* Configuration
  =vlabs-landing-pages= gets the data from different
  set of micro services. They are:
  1. *Lab Data Service* : This service provides the
     information about the labs such as hosted urls,
     images..,etc.
  2. *Files Server* : This server provides all the artifacts
     required to build =vlabs-landing-pages= such as images,
     videos, logos..,etc.
  3. *Analytics Service* : This service provides the total
     lab usage analytics.
  4. *Outreach Service* : This service provides the total
     workshop usage information.
  5. *OpenedX* : This is a platform used to host the labs.   

#+NAME: app-config
#+BEGIN_SRC javascript
document.domain="pages.vlabs.ac.in";
// update this to base url to lds url where your lds service was running

var ldsUrl = "http://lds.vlabs.ac.in/";                                        
var instituteImagesUrl ="https://s3-us-west-1.amazonaws.com/ld-service/images/institutes/";                                     
var disciplineImagesUrl = "https://s3-us-west-1.amazonaws.com/ld-service/images/disciplines/";
var labImagesUrl = "https://s3-us-west-1.amazonaws.com/ld-service/images/new-lab-images/";                                      

var hostedBaseForOpenEdx = "http://mybox.vlabs.ac.in";
var wsUsageUrl = "http://outreach.vlabs.ac.in/get_outreach_analytics";
var wsUsageDetailUrl = "http://outreach.virtual-labs.ac.in/usage";
var logUsageUrl = "http://stats.vlabs.ac.in/analytics";
//var usage = "https://analytics.vlabs.ac.in/analytics/vlabs";
var logUsageDetailUrl = "http://pages.vlabs.ac.in/info/analytics/usage.html";

var phaseLength = 1;
var phaseId = 2;

var postServer = "http://mybox.vlabs.ac.in";
var footerUrl = "http://footer.vlabs.ac.in/footer";
var loginUrl = hostedBaseForOpenEdx + "/login";
var logoutUrl = hostedBaseForOpenEdx + "/logout";
var registerUrl = hostedBaseForOpenEdx + "/register";
var openEdxHosted = "test-openedx"; //this can be either "openedx" or "test-openedx" etc.
var cloudHosted = "cloud";  //this can be either "cloud" or staging etc.

//this variable can be either "openedx", "test-openedx", "cloud" or "institute"
var firstChoiceUrl = openEdxHosted;
var secondChoiceUrl = cloudHosted;
var thirdChoiceUrl = "institute";

#+END_SRC


* Tangle                                                        :boilerplate:
** Configuration
#+BEGIN_SRC javascript :tangle js/app-config.js :eval no :noweb yes 
<<app-config>>
#+END_SRC
