#+TITLE: Configuration
#+AUTHOR: VLEAD
#+DATE: <2017-04-06 Thu>
#+PROPERTY: results output
#+PROPERTY: exports code
#+SETUPFILE: ../org-templates/level-1.org
#+options: ^:nil
#+LATEX: Literal LaTeX code for export
#+TAGS: boilerplate(b)
#+EXCLUDE_TAGS: boilerplate

* Introduction
  This has all the configuration required to run the
  =vlabs-landing-pages=
* Configuration
  =vlabs-landing-pages= gets the data from different
  set of micro services. They are:
  1. *Lab Data Service* : This service provides the
     information about the labs such as hosted urls,
     images..,etc.
  2. *Files Server* : This server provides all the artifacts
     required to build =vlabs-landing-pages= such as images,
     videos, logos..,etc.
  3. *Analytics Service* : This service provides the total
     lab usage analytics.
  4. *Outreach Service* : This service provides the total
     workshop usage information.
  5. *OpenedX* : This is a platform used to host the labs.
  6. Phase Length = 0 indicates to get all the labs.  When
     the phase length is greater that 0, indicates that
     there is phase information.  

#+NAME: app-config
#+BEGIN_SRC javascript
document.domain="vlabs.ac.in";
// update this to base url to lds url where your lds service was running                                             
var runtimeBrowserUrl = "https://vlabs-about.vlabs.ac.in/#sec-4-1";
var offlineEditionUrl = "https://vlabs-about.vlabs.ac.in/#sec-2-1-1";
var aboutPagesUrl = "https://vlabs-about.vlabs.ac.in";
var instituteImagesUrl = "https://s3-us-west-1.amazonaws.com/ld-service/images/institutes/";
var disciplineImagesUrl = "https://s3-us-west-1.amazonaws.com/ld-service/images/disciplines/";
var labImagesUrl = "https://s3-us-west-1.amazonaws.com/ld-service/images/new-lab-images/";

var ldsUrl = "https://lds.vlabs.ac.in";
var disResPath = ldsUrl + "/disciplines";
var instResPath = ldsUrl + "/institutes";
var labResPath = ldsUrl + "/labs?cached=1&consumer=lp";
var labsByDiscUrl = ldsUrl + "/labs?cached=1&consumer=lp&discipline_name=";
var labsByInstUrl = ldsUrl + "/labs?cached=1&consumer=lp&institute_name=";

var hostedBaseForOpenEdx = "https://openedx.vlabs.ac.in";
var wsUsageUrl = "https://outreach.vlabs.ac.in/get_outreach_analytics";
var wsUsageDetailUrl = "https://outreach.vlabs.ac.in/usage";
var usageUrl = "https://analytics.vlabs.ac.in/analytics/vlabs";
var logUsageDetailUrl = "https://vlabs.ac.in/info/analytics/usage.html";
var expUrl = "http://lds.vlabs.ac.in/experiments";

var postServer = "https://openedx.vlabs.ac.in";
var footerUrl = "https://footer.vlabs.ac.in/footer";
var loginUrl = hostedBaseForOpenEdx + "/login";
var logoutUrl = hostedBaseForOpenEdx + "/logout";
var registerUrl = hostedBaseForOpenEdx + "/register";
var openEdxHosted = "openedx"; //this can be either "openedx" or "test-openedx" etc.
var cloudHosted = "cloud";  //this can be either "cloud" or staging etc.

//this variable can be either "openedx", "test-openedx", "cloud" or "institute"
var firstChoiceUrl = openEdxHosted;
var secondChoiceUrl = cloudHosted;
var thirdChoiceUrl = "institute";

var phaseLength = 0;
var phaseId = 2;

#+END_SRC


* Tangle                                                        :boilerplate:
** Configuration
#+BEGIN_SRC javascript :tangle js/app-config.js :eval no :noweb yes 
<<app-config>>
#+END_SRC
